export GITHUB_COM_TOKEN=$(op item get Github --fields oauth_token)
export GITHUB_ACCESS_TOKEN=$(op item get Github --fields oauth_token)
export GITHUB_RENOVATE_REPOSITORIES="tubenhirn/doggle"

export GITLAB_ACCESS_TOKEN=$(op item get GitLab.com --fields oauth_token)
export GITLAB_RENOVATE_REPOSITORIES="jstang/semantic-release"
